
<footer class="footer mt-5" id="footer">
    <div class="container">
        <span class="text-primary">Created by Alex, Nikki, Robby, Pidchaya, and Yulia with 🧠 and ♥️. </span>
    </div>
</footer>

<script>

    $(document).ready(function() {
        // This file just does a GET request to figure out which user is logged in
        // and updates the HTML on the page
        $.get("/api/user_data").then(function(data) {
            $(".member-name").text(data.email);
        });
    });

</script>


<script type="text/javascript" src="../../public/js/logic.js"></script>



</body>
</html>