 <%- include('partials/header') %>



<div>
 <img src="img/itcrowdhoriz.png" class="loginLogo"alt="it crowd logo vert">

<ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="/api/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Member Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/register">Not a member? </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
</div>

    <div class="container-fluid bg" >
        <div class=row>
        <div class="col-md-4 col- sm-4 col-xs-12"></div>
        <div class="col-md-4 col- sm-4 col-xs-12">


            <form class="form-container">
                    <h1>Member Login</h1>
                <div class="form-group">

                    <label for="Username">Username</label>
                    <input type="email" class="form-control" id="loginUsername" aria-describedby="emailHelp"
                        placeholder="">
<div class="container mt-5">
    <h1>Login</h1>

    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">

                    <!-- Makes POST request to /login route -->
                    <form action="/api/login" method="POST" class="login">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" id="emailInput">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="passwordInput">
                        </div>
                        <button type="submit" class="btn btn-dark">Login</button>
                    </form>

                </div>
                <div class="form-group">
                    <label for="Password1">Password</label>
                    <input type="password" class="form-control" id="loginPassword" placeholder="">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" font color="black" for="exampleCheck1">Remember Me</label>
                </div>
                <button type="submit" id="loginSubmit" class="btn btn-primary btn-block">Submit</button>

                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <a class="btn btn-block btn-social btn-github" href="/auth/github" role="button">
                                <i class="fab fa-github"></i>
                                Sign In with GitHub
                            </a>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>

            </form>
        </div>
    </div>
    </div>
 
       

<%- include('partials/footer') %>