<%- include('partials/header') %>

<Header>
    <img src="img/itcrowdhoriz.png" class="loginLogo" alt="it crowd logo vert">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Member Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Not a member? </a>
        </li>
        <!-- <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
    </ul>

</Header>






    <div class="container-fluid ">
        <div class=row>
            <div class="col-md-8 col- sm-4 col-xs-12"></div>
            <div class="col-md-8 col- sm-4 col-xs-12">

                <h3>1. How much do you like sloths?</h3>
                <div class="btn-group btn-space">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Answer
                    </button>

                    <div class="dropdown-menu" class="chosen-select" id="q1">
                        <a class="dropdown-item" value="1">1 (Meh.)</a>
                        <a class="dropdown-item" value="2">2</a>
                        <a class="dropdown-item" value="3">3</a>
                        <a class="dropdown-item" value="4">4</a>
                        <a class="dropdown-item" value="5">5 (I. LOVE. SLOTHS.)</a>
                    </div>
                </div>

                <h3>2. How much do you like Star Wars?</h3>
                <div class="btn-group btn-space">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Answer
                    </button>

                    <div class="dropdown-menu" class="chosen-select" id="q2">
                        <a class="dropdown-item" value="1">1 (Star Wars is Kiddy BS.)</a>
                        <a class="dropdown-item" value="2">2</a>
                        <a class="dropdown-item" value="3">3</a>
                        <a class="dropdown-item" value="4">4</a>
                        <a class="dropdown-item" value="5">5 (I am one with the Force.)</a>
                    </div>
                </div>

                <h3>3. How many may comicons have you attended?</h3>
                <div class="btn-group btn-space">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Answer
                    </button>

                    <div class="dropdown-menu" class="chosen-select" id="q3">
                        <a class="dropdown-item" value="1">1 (What's a comicon?)</a>
                        <a class="dropdown-item" value="2">2</a>
                        <a class="dropdown-item" value="3">3</a>
                        <a class="dropdown-item" value="4">4</a>
                        <a class="dropdown-item" value="5">5 (I have a copy of "The Watchmen" signed by Alan Moore.
                            Twice.)</a>"
                    </div>
                </div>

                <h3>4. Do you cosplay?</h3>
                <div class="btn-group btn-space">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Answer
                    </button>

                    <div class="dropdown-menu" class="chosen-select" id="q4">
                        <a class="dropdown-item" value="1">1 (Costumes are for children.)</a>
                        <a class="dropdown-item" value="2">2</a>
                        <a class="dropdown-item" value="3">3</a>
                        <a class="dropdown-item" value="4">4</a>
                        <a class="dropdown-item" value="5">5 (Check out my stormtrooper outfit-suit-thingy.)</a>
                    </div>
                </div>

                <h3>5. How awkward are you in social situations??</h3>
                <div class="btn-group btn-space">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Answer
                    </button>

                    <div class="dropdown-menu" class="chosen-select" id="q5">
                        <a class="dropdown-item" value="1">1 (I'm cool as a cumcumber.)</a>
                        <a class="dropdown-item" value="2">2</a>
                        <a class="dropdown-item" value="3">3</a>
                        <a class="dropdown-item" value="4">4</a>
                        <a class="dropdown-item" value="5">5 (My eyes become thumbs and my thumbs become feet.)</a>
                    </div>
                </div>


                <h3>6. How quickly can you set up a functional website from scratch?</h3>
                <div class="btn-group btn-space">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Answer
                    </button>

                    <div class="dropdown-menu" class="chosen-select" id="q6">
                        <a class="dropdown-item" value="1">1 (Isn't that what Wix is for?.)</a>
                        <a class="dropdown-item" value="2">2</a>
                        <a class="dropdown-item" value="3">3</a>
                        <a class="dropdown-item" value="4">4</a>
                        <a class="dropdown-item" value="5">5 (10 minutes. Flat.)</a>
                    </div>
                </div>

                <h3>7. Do you like the show "Firefly?"</h3>
                <div class="btn-group btn-space">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Answer
                    </button>

                    <div class="dropdown-menu" class="chosen-select" id="q7">
                        <a class="dropdown-item" value="1">1 (I don't like animal shows).</a>
                        <a class="dropdown-item" value="2">2</a>
                        <a class="dropdown-item" value="3">3</a>
                        <a class="dropdown-item" value="4">4</a>
                        <a class="dropdown-item" value="5">5 (Ain't no place I feel free since I found Serenity.)</a>
                    </div>
                </div>

                <h3>8. How do you feel about Joss Whedon?</h3>
                <div class="btn-group btn-space">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Answer
                    </button>

                    <div class="dropdown-menu" class="chosen-select" id="q8">
                        <a class="dropdown-item" value="1">1 (Who?)</a>
                        <a class="dropdown-item" value="2">2</a>
                        <a class="dropdown-item" value="3">3</a>
                        <a class="dropdown-item" value="4">4</a>
                        <a class="dropdown-item" value="5">5 (Heart infinity sign.)</a>
                    </div>
                </div>

                <h3>9. How many times have you applied to Google?</h3>
                <div class="btn-group btn-space">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Answer
                    </button>

                    <div class="dropdown-menu" class="chosen-select" id="q9">
                        <a class="dropdown-item" value="1">1 (Maybe I'll apply. Someday...)</a>
                        <a class="dropdown-item" value="2">2</a>
                        <a class="dropdown-item" value="3">3</a>
                        <a class="dropdown-item" value="4">4</a>
                        <a class="dropdown-item" value="5">5 (How did you know I worked at Google?)</a>
                    </div>
                </div>

                <h3>10. How do you feel about whiteboarding?</h3>
                <div class="btn-group btn-space">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Answer
                    </button>

                    <div class="dropdown-menu" class="chosen-select" id="q10">
                        <a class="dropdown-item" value="1">1 (Waterboarding is torture and illegal under the Geneva
                            Convention.)</a>
                        <a class="dropdown-item" value="2">2</a>
                        <a class="dropdown-item" value="3">3</a>
                        <a class="dropdown-item" value="4">4</a>
                        <a class="dropdown-item" value="5">5 (The smell of Expo markers gets me hot and bothered.)</a>
                    </div>
                </div>

                <h3>11. Do you math?</h3>
                <div class="btn-group btn-space">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Answer
                    </button>

                    <div class="dropdown-menu" class="chosen-select" id="q11">
                        <a class="dropdown-item" value="1">1 (Nope.)</a>
                        <a class="dropdown-item" value="2">2</a>
                        <a class="dropdown-item" value="3">3</a>
                        <a class="dropdown-item" value="4">4</a>
                        <a class="dropdown-item" value="5">5 (Yes.)</a>
                    </div>
                </div>

                <h3>12. How much do you like coffee?</h3>
                <div class="btn-group btn-space">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Answer
                    </button>

                    <div class="dropdown-menu" class="chosen-select" id="q12">
                        <a class="dropdown-item" value="1">1 (I'm more of a tea person...)</a>
                        <a class="dropdown-item" value="2">2</a>
                        <a class="dropdown-item" value="3">3</a>
                        <a class="dropdown-item" value="4">4</a>
                        <a class="dropdown-item" value="5">5 (Without coffee the world would implode.)</a>
                    </div>
                </div>

                <h3>13. How much do you like beer?</h3>
                <div class="btn-group btn-space">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Answer
                    </button>

                    <div class="dropdown-menu" class="chosen-select" id="q13">
                        <a class="dropdown-item" value="1">1(Not a fan.)</a>
                        <a class="dropdown-item" value="2">2</a>
                        <a class="dropdown-item" value="3">3</a>
                        <a class="dropdown-item" value="4">4</a>
                        <a class="dropdown-item" value="5">5(I am the current keg-stand record holder at my school)</a>
                    </div>
                </div>

                <h3>14. Do you like to game (board, RPGs, MMOs, Settlers, D&D, etc)?</h3>
                <div class="btn-group btn-space">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Answer
                    </button>

                    <div class="dropdown-menu" class="chosen-select" id="q14">
                        <a class="dropdown-item" value="1">1 (I'm not into games.)</a>
                        <a class="dropdown-item" value="2">2</a>
                        <a class="dropdown-item" value="3">3</a>
                        <a class="dropdown-item" value="4">4</a>
                        <a class="dropdown-item" value="5">5 (All of it. )</a>
                    </div>
                </div>

                <h3>15. How many Elvish Rings of Power were there?</h3>
                <div class="btn-group btn-space">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Answer
                    </button>

                    <div class="dropdown-menu" class="chosen-select" id="q15">
                        <a class="dropdown-item" value="1">1 </a>
                        <a class="dropdown-item" value="2">2</a>
                        <a class="dropdown-item" value="3">3</a>
                        <a class="dropdown-item" value="4">4</a>
                        <a class="dropdown-item" value="5">5 </a>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit"><i class="fa fa-check-circle" aria-hidden="true"></i>
                    Submit</button>
            </div>
        </div>
    </div>





<%- include('partials/footer') %>