<%- include('partials/header') %>

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="email" class="form-control" id="submitName" aria-describedby="nameHelp">

    </div>

    <h3>Gender Preference</h3>
    <div class="btn-group btn-space">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Choose
        </button>

        <div class="dropdown-menu" class="chosen-select" id="genderChoice">
            <a class="dropdown-item" value="1">Male</a>
            <a class="dropdown-item" value="2">Female</a>
            <a class="dropdown-item" value="3">All of the Above!</a>

        </div>
    </div>
    <h3>What's your favorite programming language?</h3>
    <div class="btn-group btn-space">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Choose
        </button>

        <div class="dropdown-menu" class="chosen-select" id="q6">
            <a class="dropdown-item" value="1">Javascript</a>
            <a class="dropdown-item" value="2">Ruby/Rails</a>
            <a class="dropdown-item" value="3">Python</a>
            <a class="dropdown-item" value="4">C/C++</a>
            <a class="dropdown-item" value="5">COBOL</a>
        </div>
    </div>

<!-- ///////// yuliya's code////////// -->

<h3>Please select your 3 fav programming language</h3>
<div class="btn-group btn-space">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Choice #1:
    </button>

    <div class="dropdown-menu" class="chosen-select" id="=ch1">
        <a class="dropdown-item" value="1">SQL</a>
        <a class="dropdown-item" value="2">Java</a>
        <a class="dropdown-item" value="3">C/C++</a>
        <a class="dropdown-item" value="4">JavaScript</a>
        <a class="dropdown-item" value="5">Swift</a>
        <a class="dropdown-item" value="6">C#</a>
        <a class="dropdown-item" value="7">PHP</a>
        <a class="dropdown-item" value="8">Ruby/Rails</a>
        <a class="dropdown-item" value="9">Python</a>
        <a class="dropdown-item" value="10">Objective-C</a>
        <a class="dropdown-item" value="11">COBOL</a>
        <a class="dropdown-item" value="12">BASIC</a>
    </div>
</div>
<div class="btn-group btn-space">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Choice #2:
    </button>

    <div class="dropdown-menu" class="chosen-select" id="=ch2">
        <a class="dropdown-item" value="1">SQL</a>
        <a class="dropdown-item" value="2">Java</a>
        <a class="dropdown-item" value="3">C/C++</a>
        <a class="dropdown-item" value="4">JavaScript</a>
        <a class="dropdown-item" value="5">Swift</a>
        <a class="dropdown-item" value="6">C#</a>
        <a class="dropdown-item" value="7">PHP</a>
        <a class="dropdown-item" value="8">Ruby/Rails</a>
        <a class="dropdown-item" value="9">Python</a>
        <a class="dropdown-item" value="10">Objective-C</a>
        <a class="dropdown-item" value="11">COBOL</a>
        <a class="dropdown-item" value="12">BASIC</a>
    </div>
</div>

<div class="btn-group btn-space">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Choice #3:
    </button>

    <div class="dropdown-menu" class="chosen-select" id="=ch3">
        <a class="dropdown-item" value="1">SQL</a>
        <a class="dropdown-item" value="2">Java</a>
        <a class="dropdown-item" value="3">C/C++</a>
        <a class="dropdown-item" value="4">JavaScript</a>
        <a class="dropdown-item" value="5">Swift</a>
        <a class="dropdown-item" value="6">C#</a>
        <a class="dropdown-item" value="7">PHP</a>
        <a class="dropdown-item" value="8">Ruby/Rails</a>
        <a class="dropdown-item" value="9">Python</a>
        <a class="dropdown-item" value="10">Objective-C</a>
        <a class="dropdown-item" value="11">COBOL</a>
        <a class="dropdown-item" value="12">BASIC</a>
    </div>
</div>

    <button type="submit" class="btn btn-primary btn-lg btn-block" id="answerSubmit"><i class="fa fa-check-circle"
            aria-hidden="true"></i>Submit</button>
</form>


// Capture the form inputs

    $("#submit").on("click", function (event) {
      event.preventDefault();

      // console.log("HI");
      // Form validation


      function validateForm() {
        var isValid = true;
        $(".form-control").each(function () {
          if ($(this).val() === "") {
            isValid = false;
          }
        });

        $(".chosen-select").each(function () {

          if ($(this).val() === "") {
            isValid = false;
          }
        });
        return isValid;
      }

      // If all required fields are filled
      if (validateForm()) {

        // Create an object for the newUser Preference on gender and language://

        var newUserPref = {
          name: $("#submitName").val().trim(),
          gender: $("#genderChoice").val(),
          languageChoice: [ $("#ch1").val, $("#ch2").val(), $("#ch3").val()]
        };       
      } else {
        alert("Please fill out all fields before submitting!");
      }
    });
  </script>

<%- include('partials/footer') %>